/**
 * Reset some basic elements
 */
li {
    font-size: 26px;
    color: $text-color;
    margin: 5px auto;
}

p {
    text-align: center;
    font-size: 26px;
    color: $text-color;
}

.brand1 {
    color: $brand-color;
}

.brand2 {
    color: $brand-color2;
}

.brand3 {
    color: $brand-color3;
}

h1 {
    padding-left: 60px;
    padding-top: 30px;
    font-size: 30px;
    font-family: "Raleway-Bold";
}

.section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    opacity: 0.2;
    z-index: -1;
}

.section-content {
    margin: 0 auto;
    max-width: -webkit-calc(#{$content-width} - #{$spacing-unit});
    max-width:         calc(#{$content-width} - #{$spacing-unit});
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - #{$spacing-unit});
        max-width:         calc(#{$content-width} - #{$spacing-unit});
    }
    padding: 10px 60px;
}
#titleimage {
    width: 800px;
    height: 350px;
    margin: -10px auto;
    background-image: url(/img/banner.png);
}

#pitch {
    width: 800px;
    padding: 20px;
    margin: 5px auto;
}

#pitch p {
    font-size: 30px;
    text-align: center;
}

p span {
    font-family: "Raleway-Bold";
}

#trailer {
    width: 1000px;
    padding: 10px;
    margin: 5px auto;
}

.videoframe {
    margin: 0 auto;
    padding-top: 50px;
    width: 853px;
    height: 480px;
}

#greenlight_container {
    width: 400px;
    margin: 5px auto;
    padding: 5px;
}

#greenlight_container p {
    font-size: 26px;
    text-align: center;
    color: #3e3e3e;
}

#greenlight_widget {
    overflow: hidden;
    display: hidden;
    height: 137px;
    width: 336px;
}

#greenlight_button {
    height: 120px;
    width: 270px;
    background-image: url(/img/greenlight-logo.png)
}

#greenlight_button, #greenlight_widget {
    position: relative;
    display: block;
    margin: 5px auto;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}