---
layout: press
game:
  title: Color Balls
  banner: "press/branding/banner.jpg"
videos:
  - title: "Pre-beta Gameplay"
    link: "https://youtube.com/embed/4gUOIF9Yi70"
---

<div class="banner"
     style="background-image: url({{ site.baseurl }}/{{ page.game.banner }})"></div>
<div id="factsheet" class="press-block text">
  <h2>Factsheet</h2>
  {% markdown press/Color Balls/facts.md %}
</div>
<div class="right-column">
  <div id="description" class="press-block text">
  <h2>Description</h2>
  {% markdown press/Color Balls/description.md %}
  </div>

  <div id="history" class="press-block text">
  <h2>History</h2>
  {% markdown press/Color Balls/history.md %}
  </div>

  <div id="features" class="press-block text">
  <h2>Features</h2>
  {% markdown press/Color Balls/features.md %}
  </div>
</div>
<div id="full-width">
  <div id="videos">
  <h2>Videos</h2>
  <ul class="post-list">
    {% for video in page.videos %}
      <li>
        <h3 class="post-link">{{ video.title }}</h3>
        <iframe width="560" height="315" src="{{ video.link }}" frameborder="0" allowfullscreen>
        </iframe>
      </li>
    {% endfor %}
  </ul>
  Find more videos on our channel at {% include icon-youtube.html username=site.yt_username %}.
  </div>

  <div id="screenshots">
  <h2>Screenshots</h2>
  <a href="">Download all as zip</a>
  <div class="image-container">
    {% for screen in site.static_files %}{% if screen.path contains 'press/screenshots' %}
        <div  class="screenshot" 
              style="background-image: url({{ site.baseurl }}/{{ screen.path }})"></div>
    {% endif %}{% endfor %}
  </div>

  <div id="branding">
  <h2>Logos & Icon</h2>
  <a href="">Download all as zip</a>
  <div class="image-container">
    {% for image in site.static_files %}{% if image.path contains 'press/branding' %}
        <div  class="screenshot" 
              style="background-image: url({{ site.baseurl }}/{{ image.path }})"></div>
    {% endif %}{% endfor %}
  </ul>
  </div>

  <div id="about">
  <h2>About {{ site.developer }}</h2>
  {% markdown press/Color Balls/about_developer.md %}
  <p>Learn more about Zoako Studios <a href="{{ site.baseurl }}/about/">here</a>.</p>
  </div>

  <div id="credits">
  <h2>Color Balls Credits</h2>
  {% markdown press/Color Balls/credits.md %}
  </div>

  <div id="contact">
    <h2>Contact</h2>
    <ul>
    <li>Inquiries: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    <li>Website: <a href="{{ site.url }}">{{ page.game.title }}</a></li>
{% if site.twitter_username %}
    <li>{% include icon-twitter.html username=site.twitter_username %}</li>
{% endif %}
{% if site.fb_username %}
    <li>{% include icon-facebook.html username=site.fb_username %}</li>
{% endif %}
    </ul>
  </div>
</div>
