---
layout: press

history: history.md
videos:
  - title: "Pre-beta Gameplay"
    link: "https://youtube.com/embed/4gUOIF9Yi70"
---

<div class="home">

  <h1 class="page-heading">Press Kit</h1>
  <div class="navigation">
    
  </div>

  <div class="fact-sheet">

  </div>
  <div class="project-description">
  <p></p>
  </div>

  <div class="project-history">
  {% markdown history.md %}
  </div>

  <div class="videos">
  <h2>Videos</h2>
  <ul class="post-list">
    {% for video in page.videos %}
      <li>
        <h3 class="post-link">{{ video.title }}</h3>
        <iframe width="560" height="315" src="{{ video.link }}" frameborder="0" allowfullscreen>
        </iframe>
      </li>
    {% endfor %}
  </ul>
  </div>

  <div class="screenshots">
  <h2>Screenshots</h2>
  <a href="">Download all as zip</a>
  <ul class="post-list">
    {% for screen in site.static_files %}{% if screen.path contains 'press/screenshots' %}
      <li>
        <img src="{{ site.baseurl }}/{{ screen.path }}"></img>
      </li>
    {% endif %}{% endfor %}
  </ul>
  </div>



</div>
